@font-face {
	font-family: "MullerBold";
	src: url("../fonts/Muller/MullerBold.woff2") format(woff2);
	src: url("../fonts/Muller/MullerBold.woff") format(woff);
	font-style: normal;
	font-weight: 700;
}

@font-face {
	font-family: "Geometria";
	src: url("../fonts/Geometria/Geometria.woff2") format(woff2);
	src: url("../fonts/Geometria/Geometria.woff") format(woff);
	font-style: normal;
	font-weight: normal;
}

@font-face {
	font-family: "Geometria";
	src: url("../fonts/Geometria/GeometriaBold.woff2") format(woff2);
	src: url("../fonts/Geometria/GeometriaBold.woff") format(woff);
	font-style: normal;
	font-weight: 700;
}

/* {}

body {}*/

img {
	max-width: 100%;
}


.container {
	width: 1645px;
	margin: 0 auto;
}

.header__top {
	display: flex;	
	justify-content: space-between;
	align-items: center;
	padding: 40px 0;
	font-family: "Geometria", "Arial", sans-serif;
	font-size: 14px;
}


.header__top::after {
	content: "";
	display: block;
	width: 1645px;
	height: 1px;
	background: #d1d1d1;
	position: absolute;
	top: 110px;
}


.logo {
	width: 224px;
}

.logo-image {
	width: 224px;
}

.header__registration {
	display: flex;
}

.header__registration-link {
	padding: 0 20px;
	color: #8d8d8d;
	text-decoration: none;
}



.header__registration-link::after {
	content: "";
	display: block;
	width: 1px;
	height: 18px;
	background: #bf0000;
	position: absolute;
	top: 50px;
	left: 585px;
}



.header__registration-login {
	padding: 0 20px;
	color: #8d8d8d;
	text-decoration: none;
}

.header__registration-login::after {
	content: "";
	display: block;
	width: 35px;
	height: 35px;
	position: absolute;
	top: 43px;
	left: 646px;
	background-image: url("../images/entrance.png");
	background-position: center;
	background-repeat: no-repeat;
}




.header__search {
	display: flex;
}


.header__search::before {
	content: "";
	display: block;
	width: 35px;
	height: 35px;
	position: absolute;
	top: 43px;
	left: 680px;
	background-image: url("../images/search.png");
	background-position: center;
	background-repeat: no-repeat;
}





.header__contacts {
	display: flex;
}

.header__phone {
	padding: 0 20px;
	color: #8d8d8d;
	text-decoration: none;
}

.header__phone::after {
	content: "";
	display: block;
	width: 1px;
	height: 18px;
	background: #bf0000;
	position: absolute;
	top: 50px;
	left: 1250px;
}

.header__email {
	padding: 0 20px;
	color: #8d8d8d;
	text-decoration: none;
}







.header__button {
	display: flex;

}

.button__callback {
	width: 145px;
	height: 25px;
	background-color: #ffffff; 
	
}

.button__callback::before {
	content: "";
	display: block;
	width: 35px;
	height: 35px;
	position: absolute;
	top: 43px;
	left: 1490px;
	background-image: url("../images/phone.png");
	background-position: center;
	background-repeat: no-repeat;

}






.header__cart {
	display: flex;
}

.header__cart::after {
	content: "";
	display: block;
	width: 35px;
	height: 35px;
	position: absolute;
	top: 43px;
	left: 1740px;
	background-image: url("../images/cart.png");
	background-position: center;
	background-repeat: no-repeat;
}






.header__bottom {
	display: flex;
}




.navigation__list {
	display: flex;
	justify-content: space-between;
	align-items: center;
	list-style: none;
	font-family: "Geometria", "Arial", sans-serif;
	font-size: 18px;	
}


.navigation__item {
	display: flex;
	justify-content: space-between;
	align-items: center;
	list-style: none;
	padding: 20px 0;
	margin: 0;
}	



.navigation__link {
	color: #13151b;
	text-decoration: none;
}



.hidden {
	display: none;
}









