@font-face {
	font-family: "MullerBold";
	src: url("../fonts/Muller/MullerBold.woff2") format(woff2);
	src: url("../fonts/Muller/MullerBold.woff") format(woff);
	font-style: normal;
	font-weight: 700;
}

@font-face {
	font-family: "Geometria";
	src: url("../fonts/Geometria/Geometria.woff2") format(woff2);
	src: url("../fonts/Geometria/Geometria.woff") format(woff);
	font-style: normal;
	font-weight: normal;
}

@font-face {
	font-family: "Geometria";
	src: url("../fonts/Geometria/GeometriaBold.woff2") format(woff2);
	src: url("../fonts/Geometria/GeometriaBold.woff") format(woff);
	font-style: normal;
	font-weight: 700;
}

* {
	position: relative;
}

/*body {}*/

img {
	max-width: 100%;
}


.container {
	width: 1645px;
	margin: 0 auto;
}

.header__top {
	display: flex;	
	justify-content: space-between;
	align-items: center;
	padding: 40px 0;
	font-family: "Geometria", "Arial", sans-serif;
	font-size: 14px;
}


.header__top::after {
	content: "";
	display: block;
	width: 1645px;
	height: 1px;
	background: #d1d1d1;
	position: absolute;
	top: 110px;
	
} /*серая линия*/


.logo {
	width: 224px;
}

.logo-image {
	width: 224px;
}

.header__registration {
	display: flex;
	margin-bottom: -27px;
}

.header__registration-link {
	padding: 0 20px;
	color: #8d8d8d;
	text-decoration: none;
}



.header__registration-link::after {
	content: "";
	display: block;
	width: 1px;
	height: 18px;
	background: #bf0000;
	position: relative;
	top: -15px;
	right: -107px;
}



.header__registration-login {
	padding: 0 20px;
	color: #8d8d8d;
	text-decoration: none;
}

.header__registration-login::after {
	content: "";
	display: block;
	width: 35px;
	height: 35px;
	position: relative;
	top: -23px;
	right: -44px;
	background-image: url("../images/entrance.png");
	background-position: center;
	background-repeat: no-repeat;
}




.header__search {
	display: flex;
}


.header__search::before {
	content: "";
	display: block;
	width: 35px;
	height: 35px;
	position: relative;
	top: -2px;
	right: 1px;
	background-image: url("../images/search.png");
	background-position: center;
	background-repeat: no-repeat;
}





.header__contacts {
	display: flex;
	margin-bottom: -12px;
}

.header__phone {
	padding: 0 20px;
	color: #8d8d8d;
	text-decoration: none;
}

.header__phone::after {
	content: "";
	display: block;
	width: 1px;
	height: 18px;
	background: #bf0000;
	position: relative;
	top: -15px;
	right: -151px;
}

.header__email {
	padding: 0 20px;
	color: #8d8d8d;
	text-decoration: none;
}







.header__button {
	display: flex;

}

.button__callback {
	width: 145px;
	background-color: #ffffff; 
	height: 25px;
}

.button__callback::before {
	content: "";
	display: block;
	width: 20px;
	height: 20px;
	position: relative;
	top: -3px;
	right: 35px;
	background-image: url("../images/phone.png");
	background-position: center;
	background-repeat: no-repeat;
	
}






.header__cart {
	display: flex;
}

.header__cart::after {
	content: "";
	display: block;
	width: 35px;
	height: 35px;
	position: relative;
	top: 1px;
	right: 20px;
	background-image: url("../images/cart.png");
	background-position: center;
	background-repeat: no-repeat;
}






.header__bottom {
	display: flex;
}




.navigation__list {
	display: flex;
	justify-content: space-between;
	align-items: center;
	list-style: none;

	font-family: "Geometria", "Arial", sans-serif;
	font-size: 18px;	
}


.navigation__item {
	display: flex;
	justify-content: space-between;
	align-items: center;
	list-style: none;
	padding: 20px 0;
	margin: 0;
}	



.navigation__link {
	color: #13151b;
	text-decoration: none;
}



.hidden {
	display: none;
}


.banner__title {
	font-family: "Muller", "Arial", sans-serif;
	font-size: 60px;
	color: #ffffff ;
	text-align: left;
	text-transform: uppercase;
	
}

.banner {
	display: flex;
	content: "";
	display: block;
	width: 1920px;
	height: 802px;
	position: relative;
	background-image: url("../images/banner.jpg");
	background-position: center;
	background-repeat: no-repeat;	
}

/*.services {
	display: flex;
}*/

.services__title-medium {
	font-family: "Muller", "Arial", sans-serif;
	font-size: 36px;
	color: #bf0000 ;
	text-transform: uppercase;
	
}

.container--big {
	width: 1920px;
	margin: 0 auto;
}

.services__list {
	display: flex;
	justify-content: space-between;
	align-items: center;
	list-style: none;

}

.services__item {
	display: flex;


}

.services__image-wrap

.services__image

.services__title-small {
	font-family: "Muller", "Arial", sans-serif;
	font-size: 24px;
	color: #000000 ;
	
}

.services__text {
	font-family: "Muller", "Arial", sans-serif;
	font-size: 18px;
	color: #000000 ;
	
}


/*.goods {
	display: flex;
}*/

.goods__title-medium {
	font-family: "Muller", "Arial", sans-serif;
	font-size: 36px;
	color: #bf0000 ;
	text-transform: uppercase;
}

.goods__list

.goods__item

.goods__title-small

.goods__image-wrap

..goods__image

.goods__desc

.goods__link


























