@font-face {
	font-family: MullerBold, Arial, Sans-serif;
	src: url("../fonts/Muller/MullerBold.woff2") format(woff2);
	src: url("../fonts/Muller/MullerBold.woff") format(woff);
	font-style: normal;
	font-weight: normal;
}

@font-face {
	font-family: Geometria, Arial, Sans-serif;
	src: url("../fonts/Geometria/Geometria.woff2") format(woff2);
	src: url("../fonts/Geometria/Geometria.woff") format(woff);
	font-style: normal;
	font-weight: normal;
}

@font-face {
	font-family: GeometriaBold, Arial, Sans-serif;
	src: url("../fonts/Geometria/GeometriaBold.woff2") format(woff2);
	src: url("../fonts/Geometria/GeometriaBold.woff") format(woff);
	font-style: normal;
	font-weight: normal;
}

.html {
	background-color: #ffffff;
	display: flex;
	flex-direction: column;

}

.boby {
	padding: 0;
	margin: 0;
	display: flex;
    background-color: #ffffff;
    flex-direction: column;
}

.header {
	width: 100%;
	margin-top: 30px;
	margin-right: 50px;
	margin-left: 50px;
	display: flex;
	flex-wrap: wrap;
	align-items: stretch;
	justify-content: space-between;
	justify-content: space-between;

	background-color: #ffffff;
	font-family: Geometria, Arial, Sans-serif;
}


.header-top {
	width: 100%;
	margin-top: 30 px;
	margin-right: 50px;
	margin-left:50px;
	margin-bottom: 10px;
	display: flex;
	flex-wrap: wrap;
	align-items: stretch;
	justify-content: space-between;
	box-sizing: border-box;

	background-color: #ffffff;
	font-family: Geometria, Arial, Sans-serif;
	font-size: 14px;

}

.header-bottom {
	width: 100%;
	margin-top: 10 px;
	margin-right: 50px;
	margin-left:50px;
	margin-bottom: 10px;
	display: flex;
	flex-wrap: wrap;
	align-items: stretch;
	justify-content: space-between;
	box-sizing: border-box;

	background-color: #ffffff;
	font-family: Geometria, Arial, Sans-serif;
	font-size: 16px;

}

.header-top__logo {
	width:
	height:
	margin:;
	display: flex;
	flex: none;
	align-items:;

	background-color: #ffffff;
}

.header-top__registration {
	display: flex;
	
}

.header-top__login {
	display: flex;
	
}

.search-form__block {
	display: flex;

}

.header-top__phone {
	display: flex;
	
}

.header-top__email {
	display: flex;

}

.header-top__call-back {
	display: flex;
	font-size: 16px;
	
}

.header-top__cart {
	display: flex;
	
}

.a {
	color: inherit;
	text-decoration: none;
}


.header-bottom__navigation {

	display: flex;
	flex-wrap: wrap;
	align-items: stretch;
	justify-content: space-between;
}

.ul {
	display: flex;
	flex-wrap: wrap;
	align-items: stretch;
	justify-content: space-between;
	
}

.li {
	display: flex;
	flex-wrap: wrap;
	align-items: stretch;
	justify-content: space-between;
}

.navigation__list {
	display: flex;
	flex-wrap: wrap;
	align-items: stretch;
	justify-content: space-between;
	box-sizing: border-box;
}

.navigation__item {
	display: flex;
	flex-wrap: wrap;
	align-items: stretch;
	justify-content: space-between;
	box-sizing: border-box;
}

.navigation__link {
	display: flex;
	flex-wrap: wrap;
	align-items: stretch;
	justify-content: space-between;
	box-sizing: border-box;
}


.main {
	display: flex;
	background-color: #ffffff;
}


.h1 {
	font-family: MullerBold, Arial, Sans-serif;
	list-style: none;
	}

.visually-hidden {
	list-style: none;
	background-color: #ffffff;
	}

.banner {
	height: px;
}

.banner__title-large {
	font-family: MullerBold, Arial, Sans-serif;
	color: #ffffff;
	font-size: 60px;
	text-transform: uppercase;
}



.h2 {
	font-family: MullerBold, Arial, Sans-serif;
	font-size: 36px;
	text-transform: uppercase;

}


.services__title-medium {
	font-family: MullerBold, Arial, Sans-serif;
	font-size: 36px;
	color: #bf0000;
	text-transform: uppercase;
}

.services__list {}

.services__item {}

.services__image {}

.h3 {
	font-family: MullerBold, Arial, Sans-serif;
	font-size: 24px;
	}

.services__title-small {
	font-family: MullerBold, Arial, Sans-serif;
	font-size: 24px;
	color: #000000;
}


.p {}

.services__text {
	font-family: MullerBold, Arial, Sans-serif;
	font-size: 18px;
	color: #000000;
}


.goods__title-medium {
	font-family: MullerBold, Arial, Sans-serif;
	font-size: 36px;
	color: #bf0000;
	text-transform: uppercase;
}


.goods__list {}

.goods__item

.goods__title-small {
	font-family: MullerBold, Arial, Sans-serif;
	font-size: 24px;
	color: #000000;
}

.goods__image {}

.goods__desc {
	font-family: Geometria, Arial, Sans-serif;
	font-size: 16px;
	color: #000000;
}


.goods__link {
	font-family: Geometria, Arial, Sans-serif;
	font-size: 16px;
	color: #bf0000;
}




.footer {}


.footer-top {}

.footer-top__logo {}

.footer-top__list {}

.navigation__item {}

.navigation__link {}

.footer-top__item {}

.footer__link {}

.footer-top__phone {}

.footer-top__email {}

.footer-bottom {}

.footer-bottom__copyright {}

.footer-bottom__author {}


.footer-bottom__author-logo {}


.up-button {}


{}{}{}{}{}{}





